/* جسم الصفحة */
.doc-auth-body {
    background-color: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 20px;
}



/* الخلفية */
.doc-background-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
    z-index: 1;
    overflow: hidden;
}

.doc-background-wave::before {
    content: '';
    position: absolute;
    bottom: -100px;
    left: -20%;
    width: 140%;
    height: 300px;
    background-color: #086378;
    border-radius: 50%;
    opacity: 0.6;
}

.doc-background-wave::after {
    content: '';
    position: absolute;
    bottom: -120px;
    left: 5%;
    width: 120%;
    height: 350px;
    background-color: #148994;
    border-radius: 50%;
    opacity: 0.8;
}

/* حركة الكرت */
.doc-flip-container {
    perspective: 1000px;
    width: 100%;
    max-width: 400px;
    position: relative;
    z-index: 10;
}

.doc-flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* الكارد */
.doc-login-container {
    background-color: #ffffff;
   border-radius: 130px 130px 80px 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 40px 30px;
    text-align: center;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

/* الصورة */
.doc-avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #086378;
}

/* المدخلات */
.doc-input-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 15px;
}

.doc-input-group input {
    width: 100%;
    height: 45px;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    text-align: right;
}

/* الزر */
.doc-btn {
    height: 45px;
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    border: 1px solid #148994;
    background-color: #148994;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 198, 255, 0.3);
    margin: 10px auto;
}

.doc-btn:hover {
    background-color: #086378;
}

/* نسيت كلمة المرور */
.doc-forgot-password {
    color: #888;
    font-size: 13px;
    margin: 10px 0 20px;
}

/* Responsive */
@media (max-width: 500px) {
    .doc-login-container {
        padding: 30px 20px;
    }
}
