.section-header {
    color: #148994;
}
.test-category-item {
    border: 1px solid #148994 !important;
    overflow: hidden;
}
.accordion-button {
    background-color: #ffffff;
    color:#148994;
    padding: 18px 20px;
    font-weight: bold;
    font-size: 1.25rem;
}
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #148994;
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.accordion-button:not(.collapsed) i {
    color: #ffffff !important;
}
.accordion-body {
    background-color: #ffffff;
    padding: 20px;
}
.test-card {
    border: 1px solid var(--lab-border-color) !important;
    transition: box-shadow 0.3s, transform 0.3s;
}
.test-card:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1) !important;
    transform: translateY(-3px);
}
.test-image-col {
    overflow: hidden;
    height: 100%;
}
.test-image {
    width: 100%;
    height: 100%;
    min-height: 120px;
    object-fit: cover;
}
.price-tag {
    color: var(--lab-price-color);
}
.accordion-button i {
    color: var(--lab-primary-color);
    transition: color 0.2s;
}
